<div id="signup-page">
  <div class="form">
    <h1>Sign Up</h1>
    <%= form_for(@user, remote: true) do |f| %>
      <div class="form-group">
        <%= f.text_field :email, placeholder: 'Email', data: {errorkey: "email"} %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: 'Password', data: {errorkey: "password"} %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', data: {errorkey: "password_confirmation"} %>
      </div>
      <div class="form-group">
        <%= f.check_box :accept_terms, placeholder: "sadads", class: 'terms', data: {errorkey: "accept_terms"} %>
        <span class="temrs_text">I have read and agree to the terms.</span>
      </div>

      <%= f.submit :signup, class: 'button' %>
      <span class="errors"></span>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    <% end %>
  </div>
</div>